{% extends 'base_admin.html' %}

{% block title %}Tampil Data Penerbangan{% endblock %}

{% block content %}
{% include 'includes/_flash.html' %}
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between">
        <div><i class="fas fa-table"></i> Data Penerbangan</div>
        <div><a href="{{ url_for('admin.tambah_penerbangan') }}" class="btn btn-primary btn-sm"><i
                    class="fas fa-plus-circle"></i>
                Tambah
                Data</a></div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Kode</th>
                        <th>Maskapai</th>
                        <th>Tujuan</th>
                        <th>Gate</th>
                        <th>Keberangkatan</th>
                        <th>Status</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Kode</th>
                        <th>Maskapai</th>
                        <th>Tujuan</th>
                        <th>Gate</th>
                        <th>Keberangkatan</th>
                        <th>Status</th>

                    </tr>
                </tfoot>
                <tbody>
                    {% for data in data %}
                    <tr>
                        <td>{{ data.kode | upper }}</td>
                        <td>{{ data.maskapai | upper }}</td>
                        <td>{{ data.tujuan | upper }}</td>
                        <td>{{ data.gate }}</td>
                        <td>{{ data.jam }}</td>
                        <td>{{ data.status | upper }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}