{% extends 'base_admin.html' %}

{% block title %}Tampil Data Maskapai{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-dismissible fade show alert-primary" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
<div class="row">
    <div class="col-6">
        <div class="card card-register">
            <div class="card-header"><i class="fas fa-plus-circle"></i> Tambah Data Maskapai</div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-12 mb-3">
                            {{ form.maskapai.label() }} {{ name }}
                            {{ form.maskapai(class='form-control') }}
                            {% if form.maskapai.errors %}
                            <small class="form-text text-danger">
                                {% for error in form.maskapai.errors %}
                                {{ error }}
                                {% endfor %}
                            </small>
                            {% endif%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form.submit(class='btn btn-primary btn-lg btn-block') }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div><i class="fas fa-table"></i> Data Maskapai</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Maskapai</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Maskapai</th>
                                <th>Aksi</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for data in data %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ data.maskapai | upper }}</td>
                                <td><a href="{{ url_for('admin.edit_maskapai', slug=data.slug) }}">Edit</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
{% endblock %}