{% extends 'admin/base.html' %}

{% block title %}Tambah Data Kategori{% endblock %}

{% block content %}
<div class="card card-register">
    <div class="card-header"><i class="fas fa-plus-circle"></i> Tambah Data Kategori</div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.kode.label() }} {{ name }}
                    {{ form.kode(class='form-control', placeholder='ZZ000') }}
                    {% if form.kode.errors %}
                    <small class="form-text text-danger">
                        {% for error in form.kode.errors %}
                            {{ error }}
                        {% endfor %}
                    </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.pesawat.label() }} {{ message }}
                    {{ form.pesawat(class='form-control', placeholder='SUSIAIR', rows=5) }}
                    {% if form.pesawat.errors %}
                        <small class="form-text text-danger">
                            {% for error in form.pesawat.errors %}
                                {{ error }}
                            {% endfor %}
                        </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.tujuan.label() }} {{ message }}
                    {{ form.tujuan(class='form-control', placeholder='XYZ-ABC') }}
                    {% if form.tujuan.errors %}
                        <small class="form-text text-danger">
                            {% for error in form.tujuan.errors %}
                                {{ error }}
                            {% endfor %}
                        </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.jam.label() }} {{ message }}
                    {{ form.jam(class='form-control') }}
                    {% if form.jam.errors %}
                        <small class="form-text text-danger">
                            {% for error in form.jam.errors %}
                                {{ error }}
                            {% endfor %}
                        </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.gate.label() }} {{ message }}
                    {{ form.gate(class='form-control') }}
                    {% if form.gate.errors %}
                        <small class="form-text text-danger">
                            {% for error in form.gate.errors %}
                                {{ error }}
                            {% endfor %}
                        </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    {{ form.status.label() }} {{ message }}
                    {{ form.status(class='form-control') }}
                    {% if form.status.errors %}
                        <small class="form-text text-danger">
                            {% for error in form.status.errors %}
                                {{ error }}
                            {% endfor %}
                        </small>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form.submit(class='btn btn-primary btn-lg btn-block') }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}