{% extends 'base.html' %}

{% block content %}
<div class="container">
<form method="POST">
    {{ form.csrf_token() }}
    <div class="">
        {{ form.kode.label }}
        {{ form.kode(class='form-control', placeholder='XX000') }}
        {% for error in form.kode.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.pesawat.label }}
        {{ form.pesawat(class='form-control', placeholder='') }}
        {% for error in form.pesawat.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.tujuan.label }}
        {{ form.tujuan(class='form-control', placeholder='') }}
        {% for error in form.tujuan.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    {#
    <div class="">
        {{ form.jam.label }}
        {{ form.jam(class='form-control', placeholder='') }}
        {% for error in form.jam.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>#}
    <div class="">
        {{ form.gate.label }}
        {{ form.gate(class='form-control', placeholder='') }}
        {% for error in form.gate.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.status.label }}
        {{ form.status(class='form-control', placeholder='') }}
        {% for error in form.status.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>
</div>
{% endblock %}